In [1]:
import pandas as pd
df_la_acct_mast= pd.read_excel("la_acct_mast_table.xlsx")
df_la_acct_mast.head()

,acid,ts_cnt,bank_id,del_flg,dis_amt,op_acid,eir_rate,acct_type,dealer_id,ei_method,...,penal_int_grace_perd_days,penal_int_grace_perd_mths,crystallisation_time_stamp,auto_reshdl_after_hldy_perd,hldy_prd_frm_first_disb_flg,int_rate_based_on_sanct_lim,first_drdn_val_date_int_rate,instlmnt_grace_perd_term_flg,accr_penal_int_unrealized_amt,updated_at
0,B95756817,225,1,N,4500000.0,B95745502,0,NaN,NaN,R,...,0.0,0.0,NaN,H,N,N,,,0,2024-08-29 04:59:57.138
1,707601829,139,1,N,4000000.0,704009981,0,NaN,NaN,R,...,0.0,0.0,NaN,H,N,N,,,0,2024-08-29 04:59:57.138
2,H88761015,61,1,N,3400000.0,H88727279,0,NaN,NaN,,...,0.0,0.0,NaN,,N,N,,,0,2024-08-29 04:59:57.138
3,D88097098,47,1,N,1500000.0,D86314215,0,NaN,NaN,,...,0.0,0.0,NaN,,N,N,,,0,2024-08-29 04:59:57.138
4,D88462761,66,1,N,1500000.0,D86314215,0,NaN,NaN,,...,0.0,0.0,NaN,,N,N,,,0,2024-08-29 04:59:57.138

In [2]:
df_gam=pd.read_csv("../general_acct_mast_table/general_acct_mast_table_masked.csv")
df_gam.head()

,acid,acid_t,cif_id,foracid,foracid_t,acct_num,acct_name,hashed_no,phone_num,acct_short_name,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at,cif_id_t
0,Q39620558,AC83477802,R02944296,2635752944296001,FA3683176010178129,831760101781,Humacanta Prasad Pandey,C1426B129652A7DB20182EAE18980F1B26D3B17E,9829243528,Humacanta,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND9732261
1,Y110180600,AC28966287,O99520992,3414659520992004,FA9480299565595898,802995655958,Sriti Saraswati Limbu,26B23D96EE13CDC789D531D4CF5839AD1EF73B75,NaN,Sriti,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND8250686
2,O93531058,AC98636744,O99520992,O987952099252401,FA7106544699531866,65446995318,Sriti Saraswati Limbu,B7BDF9D665BAC86A625C32A5726764FB61251A9A,NaN,Sriti,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND8250686
3,32559774,AC72858901,R32157797,3241157797524004,FA1631713350235916,317133502359,PALPA HEALTHCARE PVT. LTD.,FF377859485ED6FCE9A354D30C3A9744DE68421C,4249154/4243464,LUMBINI TRAVELS PVT. LTD.,...,NaN,NaN,NaN,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG4548358
4,889280082,AC73874192,R09092002,0884459092002067,FA2641279335334283,412793353342,NaN,5654F613A38B19A7130D8A5F217260B16DE305B1,0000000000,NEPAL AIRLINES LTD.,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG3617689

In [3]:
df_result = pd.merge(df_la_acct_mast, df_gam, how='left', on='acid',suffixes=('_p', '_a'))
df_result.head(10)

,acid,ts_cnt_p,bank_id_p,del_flg_p,dis_amt,op_acid,eir_rate,acct_type,dealer_id,ei_method,...,acct_cls_advice_printed,acct_cls_chrg_pend_verf,is_loan_agnst_cltrl_flg,int_adj_for_deduction_flg,used_un_clr_over_dacc_amt,used_clean_single_tran_lim,wtax_floor_limit_scope_flg,used_oc_cln_single_tran_lim,updated_at_a,cif_id_t
0,B95756817,225,1,N,4500000.00,B95745502,0,NaN,NaN,R,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND1038471
1,707601829,139,1,N,4000000.00,704009981,0,NaN,NaN,R,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-29 04:58:43.780,DLNIND2527616
2,H88761015,61,1,N,3400000.00,H88727279,0,NaN,NaN,,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG9104230
3,D88097098,47,1,N,1500000.00,D86314215,0,NaN,NaN,,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND1040633
4,D88462761,66,1,N,1500000.00,D86314215,0,NaN,NaN,,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND1040633
5,V78267731,68,1,N,4700000.00,V75502574,0,NaN,NaN,,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG1956605
6,1510412040,12,1,N,4059.75,153396015,0,NaN,NaN,,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND6964271
7,385811456,257,1,N,2000000.00,385749998,0,NaN,NaN,R,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-29 04:58:43.780,DLNIND4770722
8,223691552,334,1,N,1788000.00,22562003,0,NaN,NaN,R,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNLEG8826888
9,D89891226,32,1,N,1500000.00,D86314215,0,NaN,NaN,,...,NaN,NaN,N,NaN,0,0,NaN,0,2024-08-07 06:44:51.722,DLNIND1040633

In [5]:
print(df_la_acct_mast.shape)
print(df_result.shape)

(721, 231)
(721, 420)

In [6]:
df_la_acct_mast['acid']=df_result['acid_t'].values
df_la_acct_mast.head()

,acid,ts_cnt,bank_id,del_flg,dis_amt,op_acid,eir_rate,acct_type,dealer_id,ei_method,...,penal_int_grace_perd_days,penal_int_grace_perd_mths,crystallisation_time_stamp,auto_reshdl_after_hldy_perd,hldy_prd_frm_first_disb_flg,int_rate_based_on_sanct_lim,first_drdn_val_date_int_rate,instlmnt_grace_perd_term_flg,accr_penal_int_unrealized_amt,updated_at
0,AC27364136,225,1,N,4500000.0,B95745502,0,NaN,NaN,R,...,0.0,0.0,NaN,H,N,N,,,0,2024-08-29 04:59:57.138
1,AC15071859,139,1,N,4000000.0,704009981,0,NaN,NaN,R,...,0.0,0.0,NaN,H,N,N,,,0,2024-08-29 04:59:57.138
2,AC11235070,61,1,N,3400000.0,H88727279,0,NaN,NaN,,...,0.0,0.0,NaN,,N,N,,,0,2024-08-29 04:59:57.138
3,AC66893611,47,1,N,1500000.0,D86314215,0,NaN,NaN,,...,0.0,0.0,NaN,,N,N,,,0,2024-08-29 04:59:57.138
4,AC44054040,66,1,N,1500000.0,D86314215,0,NaN,NaN,,...,0.0,0.0,NaN,,N,N,,,0,2024-08-29 04:59:57.138

In [7]:
df_la_acct_mast.to_csv("la_acct_mast_table_masked.csv",index=False)