In [3]:
import pandas as pd
bg_master_table= pd.read_excel("bg_master_table.xlsx")
# bg_master_table = bg_master_table.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)

bg_master_table.head()

,rate,bg_amt,sol_id,ts_cnt,bank_id,bene_br,bg_type,br_code,cust_id,bg_b2kid,...,probable_date_of_shpmnt,auto_renew_freq_cal_base,auto_renew_freq_week_day,auto_renew_freq_week_num,forward_contract_ref_num,mtmd_margin_referred_flg,auto_renew_applicable_flg,import_license_expiry_date,islamic_payable_account_id,updated_at
0,1,200000.0,01,3,1,NaN,BOABB,NaN,01001079,DC09168,...,NaN,NaN,NaN,NaN,NaN,N,N,NaN,NaN,2024-08-07 06:42:00.068
1,1,5000000.0,01,7,1,NaN,BOAAG,NaN,01001079,DC0896,...,NaN,NaN,NaN,NaN,NaN,N,N,NaN,NaN,2024-08-07 06:42:00.068
2,1,200000.0,01,3,1,NaN,BOABB,NaN,01001079,DC09169,...,NaN,NaN,NaN,NaN,NaN,N,N,NaN,NaN,2024-08-07 06:42:00.068
3,1,125000.0,01,3,1,NaN,BOABB,NaN,01001079,DC10294,...,NaN,NaN,NaN,NaN,NaN,N,N,NaN,NaN,2024-08-07 06:42:00.068
4,1,125000.0,01,3,1,NaN,BOABB,NaN,01001079,DC10295,...,NaN,NaN,NaN,NaN,NaN,N,N,NaN,NaN,2024-08-07 06:42:00.068

In [4]:
bg_master_table.to_csv("bg_master_table_masked.csv",index=False)