In [1]:
import pandas as pd
df_overdue_code=pd.read_excel("overdue_code_table.xlsx")
df_overdue_code.head()

,acid,dr_cr,sol_id,del_flg,tran_id,tran_amt,tran_date,last_dmp_date,partitioned_acid,updated_at
0,575262961,C,57,N,S82846687,606191.78,2020-04-12T00:00:00.000000,2024-08-05T00:00:00.000000,57838655,2024-08-07 06:59:44.152
1,575262961,D,57,N,S82846466,606191.78,2020-04-12T00:00:00.000000,2024-08-05T00:00:00.000000,57838655,2024-08-07 06:59:44.152
2,575262961,C,57,N,S96870716,1238739.73,2020-07-15T00:00:00.000000,2024-08-05T00:00:00.000000,57838655,2024-08-07 06:59:44.152
3,575262961,D,57,N,S96870528,1238739.73,2020-07-15T00:00:00.000000,2024-08-05T00:00:00.000000,57838655,2024-08-07 06:59:44.152
4,575262961,D,57,N,S12117305,970164.38,2020-10-16T00:00:00.000000,2024-08-05T00:00:00.000000,57838655,2024-08-07 06:59:44.152

In [2]:
# df_c_loan_pen_int = df_c_loan_pen_int.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)

# df_c_loan_pen_int.head()

In [3]:
df_acid_foracid=pd.read_csv("../../tbaadm/general_acct_mast_table/acid_foracid_masked.csv")
df_acid_foracid.head()

,acid,acid_t,cif_id,foracid,foracid_t,pan,acct_num,acct_name
0,Q39620558,AC10370877,DLNIND1406504,2635752944296001,FA9627239668220084,PAN668645879,272396682200,Humacanta Bipin Thapa
1,Y110180600,AC41672289,DLNIND4211643,3414659520992004,FA3302344775994664,PAN697945863,23447759946,Sriti Kumari Thapa
2,O93531058,AC73584145,DLNIND4211643,O987952099252401,FA5553585851915269,PAN697945863,535858519152,Sriti Kumari Thapa
3,32559774,AC12345718,DLNLEG9334212,3241157797524004,FA2582732553674743,PAN353089449,827325536747,PALPA HEALTHCARE PVT. LTD.
4,889280082,AC47235600,DLNLEG6576494,0884459092002067,FA7171012596574289,PAN813377590,710125965742,NaN

In [4]:
df_overdue_code['acid']=df_overdue_code['acid'].astype('str')

In [5]:
df_acid_foracid['acid'].dtype

dtype('O')

In [6]:
df_result = pd.merge(df_overdue_code, df_acid_foracid, how='left', on='acid',suffixes=('_p', '_a'))

df_result.head(5)

,acid,dr_cr,sol_id,del_flg,tran_id,tran_amt,tran_date,last_dmp_date,partitioned_acid,updated_at,acid_t,cif_id,foracid,foracid_t,pan,acct_num,acct_name
0,575262961,C,57,N,S82846687,606191.78,2020-04-12T00:00:00.000000,2024-08-05T00:00:00.000000,57838655,2024-08-07 06:59:44.152,AC14387138,DLNLEG3169101,57DL551498524012,FA1725557001914799,PAN944763272,255570019147,NaN
1,575262961,D,57,N,S82846466,606191.78,2020-04-12T00:00:00.000000,2024-08-05T00:00:00.000000,57838655,2024-08-07 06:59:44.152,AC14387138,DLNLEG3169101,57DL551498524012,FA1725557001914799,PAN944763272,255570019147,NaN
2,575262961,C,57,N,S96870716,1238739.73,2020-07-15T00:00:00.000000,2024-08-05T00:00:00.000000,57838655,2024-08-07 06:59:44.152,AC14387138,DLNLEG3169101,57DL551498524012,FA1725557001914799,PAN944763272,255570019147,NaN
3,575262961,D,57,N,S96870528,1238739.73,2020-07-15T00:00:00.000000,2024-08-05T00:00:00.000000,57838655,2024-08-07 06:59:44.152,AC14387138,DLNLEG3169101,57DL551498524012,FA1725557001914799,PAN944763272,255570019147,NaN
4,575262961,D,57,N,S12117305,970164.38,2020-10-16T00:00:00.000000,2024-08-05T00:00:00.000000,57838655,2024-08-07 06:59:44.152,AC14387138,DLNLEG3169101,57DL551498524012,FA1725557001914799,PAN944763272,255570019147,NaN

In [7]:
df_overdue_code['acid']=df_result['acid_t']
df_overdue_code.head()

,acid,dr_cr,sol_id,del_flg,tran_id,tran_amt,tran_date,last_dmp_date,partitioned_acid,updated_at
0,AC14387138,C,57,N,S82846687,606191.78,2020-04-12T00:00:00.000000,2024-08-05T00:00:00.000000,57838655,2024-08-07 06:59:44.152
1,AC14387138,D,57,N,S82846466,606191.78,2020-04-12T00:00:00.000000,2024-08-05T00:00:00.000000,57838655,2024-08-07 06:59:44.152
2,AC14387138,C,57,N,S96870716,1238739.73,2020-07-15T00:00:00.000000,2024-08-05T00:00:00.000000,57838655,2024-08-07 06:59:44.152
3,AC14387138,D,57,N,S96870528,1238739.73,2020-07-15T00:00:00.000000,2024-08-05T00:00:00.000000,57838655,2024-08-07 06:59:44.152
4,AC14387138,D,57,N,S12117305,970164.38,2020-10-16T00:00:00.000000,2024-08-05T00:00:00.000000,57838655,2024-08-07 06:59:44.152

In [8]:
df_overdue_code.to_csv("overdue_code_table_masked.csv",index=False)