In [1]:
import pandas as pd
df_c_oda_pen_int=pd.read_excel("c_oda_pen_int.xlsx")
df_c_oda_pen_int.head()

,acid,del_flg,due_flg,int_due,product,tran_id,tran_amt,trans_flg,tran_date,oda_account,pen_int_rate,updated_at
0,0113590,N,E,-3639921.09,13719352.10,S7441060,1127.62,B,2014-06-15T00:00:00.000000,01CA001079NPR001,3.0,2024-08-07 06:58:23.363
1,01213715,N,E,-157346.47,3994756.45,S7441113,328.34,B,2014-06-15T00:00:00.000000,0141014498524003,3.0,2024-08-07 06:58:23.363
2,0113590,N,E,-3639921.09,13719352.10,S7451083,1127.62,B,2014-06-16T00:00:00.000000,01CA001079NPR001,3.0,2024-08-07 06:58:23.363
3,01213715,N,E,-157346.47,3994756.45,S7451154,328.34,B,2014-06-16T00:00:00.000000,0141014498524003,3.0,2024-08-07 06:58:23.363
4,0113590,N,E,-3639921.09,13719352.10,S7460915,1127.62,B,2014-06-17T00:00:00.000000,01CA001079NPR001,3.0,2024-08-07 06:58:23.363

In [2]:
# df_c_loan_pen_int = df_c_loan_pen_int.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)

# df_c_loan_pen_int.head()

In [3]:
df_acid_foracid=pd.read_csv("../../tbaadm/general_acct_mast_table/acid_foracid_masked.csv")
df_acid_foracid.head()

,acid,acid_t,cif_id,foracid,foracid_t,pan,acct_num,acct_name
0,Q39620558,AC10370877,DLNIND1406504,2635752944296001,FA9627239668220084,PAN668645879,272396682200,Humacanta Bipin Thapa
1,Y110180600,AC41672289,DLNIND4211643,3414659520992004,FA3302344775994664,PAN697945863,23447759946,Sriti Kumari Thapa
2,O93531058,AC73584145,DLNIND4211643,O987952099252401,FA5553585851915269,PAN697945863,535858519152,Sriti Kumari Thapa
3,32559774,AC12345718,DLNLEG9334212,3241157797524004,FA2582732553674743,PAN353089449,827325536747,PALPA HEALTHCARE PVT. LTD.
4,889280082,AC47235600,DLNLEG6576494,0884459092002067,FA7171012596574289,PAN813377590,710125965742,NaN

In [4]:
df_result = pd.merge(df_c_oda_pen_int, df_acid_foracid, how='left', on='acid',suffixes=('_p', '_a'))

df_result.head(5)

,acid,del_flg,due_flg,int_due,product,tran_id,tran_amt,trans_flg,tran_date,oda_account,pen_int_rate,updated_at,acid_t,cif_id,foracid,foracid_t,pan,acct_num,acct_name
0,0113590,N,E,-3639921.09,13719352.10,S7441060,1127.62,B,2014-06-15T00:00:00.000000,01CA001079NPR001,3.0,2024-08-07 06:58:23.363,AC88861241,DLNLEG6465924,01CA001079NPR001,FA8698709284689804,PAN952179235,987092846898,NaN
1,01213715,N,E,-157346.47,3994756.45,S7441113,328.34,B,2014-06-15T00:00:00.000000,0141014498524003,3.0,2024-08-07 06:58:23.363,AC55575076,DLNIND9450331,0141014498524003,FA9236522002075695,PAN642077006,365220020756,Avineak Bishal Pandey
2,0113590,N,E,-3639921.09,13719352.10,S7451083,1127.62,B,2014-06-16T00:00:00.000000,01CA001079NPR001,3.0,2024-08-07 06:58:23.363,AC88861241,DLNLEG6465924,01CA001079NPR001,FA8698709284689804,PAN952179235,987092846898,NaN
3,01213715,N,E,-157346.47,3994756.45,S7451154,328.34,B,2014-06-16T00:00:00.000000,0141014498524003,3.0,2024-08-07 06:58:23.363,AC55575076,DLNIND9450331,0141014498524003,FA9236522002075695,PAN642077006,365220020756,Avineak Bishal Pandey
4,0113590,N,E,-3639921.09,13719352.10,S7460915,1127.62,B,2014-06-17T00:00:00.000000,01CA001079NPR001,3.0,2024-08-07 06:58:23.363,AC88861241,DLNLEG6465924,01CA001079NPR001,FA8698709284689804,PAN952179235,987092846898,NaN

In [5]:
df_c_oda_pen_int['acid']=df_result['acid_t']
df_c_oda_pen_int.head()

,acid,del_flg,due_flg,int_due,product,tran_id,tran_amt,trans_flg,tran_date,oda_account,pen_int_rate,updated_at
0,AC88861241,N,E,-3639921.09,13719352.10,S7441060,1127.62,B,2014-06-15T00:00:00.000000,01CA001079NPR001,3.0,2024-08-07 06:58:23.363
1,AC55575076,N,E,-157346.47,3994756.45,S7441113,328.34,B,2014-06-15T00:00:00.000000,0141014498524003,3.0,2024-08-07 06:58:23.363
2,AC88861241,N,E,-3639921.09,13719352.10,S7451083,1127.62,B,2014-06-16T00:00:00.000000,01CA001079NPR001,3.0,2024-08-07 06:58:23.363
3,AC55575076,N,E,-157346.47,3994756.45,S7451154,328.34,B,2014-06-16T00:00:00.000000,0141014498524003,3.0,2024-08-07 06:58:23.363
4,AC88861241,N,E,-3639921.09,13719352.10,S7460915,1127.62,B,2014-06-17T00:00:00.000000,01CA001079NPR001,3.0,2024-08-07 06:58:23.363

In [6]:
df_c_oda_pen_int.to_csv("c_oda_pen_int_masked.csv",index=False)