In [2]:
import random
import pandas as pd

In [3]:
random_codes = random.sample(range(1000, 99999),342 )

In [10]:
df = pd.DataFrame(random_codes, columns=["random_code"])
df["random_code"]=sorted(df["random_code"])
df.head()

   random_code
0         1142
1         1247
2         1447
3         1509
4         2573

In [11]:
df.to_csv("random_codes.csv", index=False)