In [2]:
import pandas as pd
import random
df_tran_code = pd.read_excel("transaction_code.xlsx") 
df_tran_code.head()

,tco_code,tco_labe,tco_ewallet,tco_vtc_code,tco_cent_sign,tco_chld_sign,tco_merc_sign,tco_revo_flag,tco_pre_paid_flag,tco_acqu_bank_sign,tco_issu_bank_sign,updated_at
0,1000,Express Replacement Fee,Y,NaN,N,D,NaN,A,NaN,D,NaN,2024-08-07 07:05:16.809
1,1900,Premium fee,N,10.0,NaN,D,NaN,N,N,NaN,NaN,2024-08-07 07:05:16.809
2,5000,Purchase,N,5.0,N,D,C,A,A,N,N,2024-08-07 07:05:16.809
3,5001,Financial Transaction without Cash,N,5.0,NaN,D,C,A,A,NaN,NaN,2024-08-07 07:05:16.809
4,5002,Unique Transaction,N,5.0,N,D,C,A,A,N,N,2024-08-07 07:05:16.809

In [1]:
# num_rows = df_tran_code.shape[0]
# random_codes = random.sample(range(1000, 99999), num_rows)
# df_tran_code['tco_code'] = sorted(random_codes)
# df_tran_code.head()

In [3]:
df_tran_code.shape

(342, 12)

In [4]:
df_tran_code[['tco_code']].duplicated().sum()

0

In [6]:
df_tran_code.to_csv("transaction_code_masked.csv",index=False)