In [26]:
import pandas as pd
charge_revol_transaction=pd.read_excel("charge_revol_transaction.xlsx")
charge_revol_transaction.head()

,ctr_txt,crt_code,crt_acc_code,crt_ban_code,crt_car_code,crt_crt_code,crt_cur_code,crt_etr_code,crt_fee_code,crt_mer_code,...,crt_paym_term_flag,crt_weig_labe_flag,crt_emi_princi_amou,crt_flexi_expi_date,crt_use_code_cancel,crt_bank_account_nbr,crt_prev_free_tco_code,crt_prev_flexi_tco_code,crt_customer_bank_account,updated_at
0,NaN,6732881,2355341,1,2105953.0,NaN,150,NaN,NaN,2288201.0,...,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:04:18.300
1,NaN,6732801,2355341,1,2105953.0,NaN,150,NaN,NaN,2288201.0,...,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:04:18.300
2,NaN,6732781,2355341,1,2105953.0,NaN,150,NaN,NaN,2288201.0,...,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:04:18.300
3,NaN,6732741,2355341,1,2105953.0,NaN,150,NaN,NaN,2288201.0,...,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:04:18.300
4,NaN,6732841,2355341,1,2105953.0,NaN,150,NaN,NaN,2288201.0,...,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:04:18.300

In [27]:
charge_revol_transaction['crt_mer_ense'].value_counts()

crt_mer_ense
Interest Charge                     61
BBSM BOUDDHA                        53
BBSM BHAKTAPUR                      40
BBSM NEPALGUNJ                      23
DARAZ NEPAL                         22
                                    ..
CREDIT CARD PAYMENT                  1
KANTIPUR COLLECTION                  1
BEAUTIFUL KATHMANDU HO               1
GHANGRI CAFE                         1
EMI CONVERT 2/07/2024 CG DIGITAL     1
Name: count, Length: 186, dtype: int64

In [28]:
def rename_merchant(name):
    if isinstance(name, str):
        parts = name.split()
        if len(parts) == 0:
            return "Dlytica"
        elif parts[0].upper() == 'BBSM':
            return 'Bigmart ' + ' '.join(parts[1:])
        else:
            return 'Dlytica Inc ' + ' '.join(parts[1:])
    return "Dlytica Inc"

charge_revol_transaction['crt_mer_ense'] = charge_revol_transaction['crt_mer_ense'].apply(rename_merchant)

In [29]:
charge_revol_transaction['crt_mer_ense']

0                    Bigmart BIRGUNJ TERMINAL-1
1                    Bigmart BIRGUNJ TERMINAL-1
2                    Bigmart BIRGUNJ TERMINAL-1
3                    Bigmart BIRGUNJ TERMINAL-1
4                    Bigmart BIRGUNJ TERMINAL-1
                         ...
895                          Dlytica Inc Charge
896                                 Dlytica Inc
897                                 Dlytica Inc
898                                Dlytica Inc
899    Dlytica Inc CONVERT 2/07/2024 CG DIGITAL
Name: crt_mer_ense, Length: 900, dtype: object

In [30]:
charge_revol_transaction.to_csv('charge_revol_transaction_masked.csv',index=False)