In [1]:
import pandas as pd

In [2]:
df_address = pd.read_excel("address.xlsx")
df_address.head()

,_airbyte_ab_id,_airbyte_emitted_at,url,zip,city,name,town,email,faxno,orgid,...,residentialstatus,pagernocountrycode,holdmailinitiatedby,phoneno1countrycode,phoneno2countrycode,address_proof_doc_id,is_address_proof_rcvd,_airbyte_additional_properties,source_file_path,updated_at
0,332f8978-6edc-45ca-b88b-944612a4f29c,2024-08-05 07:02:37.777,NaN,.,BUTWA,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:32:36.973
1,980308d0-a42b-4912-8859-d0b9d334d3d1,2024-08-05 07:02:37.777,NaN,.,BUTWA,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:32:36.973
2,b91e4274-6e52-4b9e-ba84-49d4b250694c,2024-08-05 07:02:37.777,NaN,NaN,NaN,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:32:36.973
3,9b1c3de4-1069-46b3-bbc3-71a9cb162e59,2024-08-05 07:02:37.777,NaN,97700,NaN,INDIRA ARYAL,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:32:36.973
4,7ef9c5e7-a154-429e-b521-167d89f29764,2024-08-05 07:02:37.777,NaN,97700,NaN,INDIRA ARYAL,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,s3a://ai360nica/data/bronze/oracle/cbs/CRMUSER...,2024-08-07 06:32:36.973

In [3]:
df_address = df_address.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path"], axis=1)
df_address.head()

,url,zip,city,name,town,email,faxno,orgid,state,telex,...,phoneno2localcode,residentialstatus,pagernocountrycode,holdmailinitiatedby,phoneno1countrycode,phoneno2countrycode,address_proof_doc_id,is_address_proof_rcvd,_airbyte_additional_properties,updated_at
0,NaN,.,BUTWA,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,RUPAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,2024-08-07 06:32:36.973
1,NaN,.,BUTWA,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,RUPAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,2024-08-07 06:32:36.973
2,NaN,NaN,NaN,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:32:36.973
3,NaN,97700,NaN,INDIRA ARYAL,NaN,NaN,NaN,NaN,NUWAK,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:32:36.973
4,NaN,97700,NaN,INDIRA ARYAL,NaN,NaN,NaN,NaN,NUWAK,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:32:36.973

In [5]:
print(len(df_address))

387

In [7]:
df_acc = pd.read_csv("../account/account_masked.csv")
df_acc.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,cust_dob,cust_type,gender,marital_status,education,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at,group_id
0,DLNIND1575690,R01562055,Duman,Biren,Timalsina,1989-11-25T00:00:00.000000,INDIVIDUAL,M,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND1575690
1,DLNIND5073099,R01911512,Prajina,Kumari,Pandey,1971-05-05T00:00:00.000000,INDIVIDUAL,F,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND5073099
2,DLNIND3879318,R02944296,Humacanta,Prasad,Pandey,2005-05-18T00:00:00.000000,INDIVIDUAL,M,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND3879318
3,DLNLEG4254558,C00038863,KHOTANG FOODS PVT. LTD.,NaN,NaN,2012-11-12T00:00:00.000000,LEGAL,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG4254558
4,DLNIND6006816,R01651971,Adarsh,Kumar,Thakuri,1993-02-28T00:00:00.000000,INDIVIDUAL,M,True,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND6006816

In [8]:
print(len(df_acc.columns))

491

In [9]:
result_df = pd.merge(df_address, df_acc, how='left', on='orgkey',suffixes=('_add', '_acc'))
result_df.head()

,url_add,zip_add,city_add,name_add,town,email_add,faxno,orgid,state_add,telex,...,creditbureauscorevalidity,foreignacctaxreportingreq,foreigntaxreportingstatus,preferred_mobile_alert_no,credithistoryrequestedflag,foreigntaxreportingcountry,customer_level_provisioning,preferred_mobile_alert_type,updated_at_acc,group_id
0,NaN,.,BUTWA,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,RUPAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG4545411
1,NaN,.,BUTWA,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,RUPAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG4545411
2,NaN,NaN,NaN,BISALPATH SADAK NIRMAN UPABHOKTA SAMITI,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNLEG4545411
3,NaN,97700,NaN,INDIRA ARYAL,NaN,NaN,NaN,NaN,NUWAK,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND4233493
4,NaN,97700,NaN,INDIRA ARYAL,NaN,NaN,NaN,NaN,NUWAK,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:29:18.596,DLNIND4233493

In [10]:
df_address["orgkey"] = result_df["cif_id"].values
df_address["name"] = result_df["name_acc"].values
df_address["state"] = result_df["state_acc"].values
df_address["bank_id"] = result_df["bank_id_acc"].values
df_address["address_line1"] = result_df["address_line1_acc"].values
df_address["address_line2"] = result_df["address_line2_acc"].values
df_address["address_line3"] = result_df["address_line3_acc"].values
df_address["city"] = result_df["city_acc"].values
df_address["city"] = result_df["city_acc"].values
df_address["swift_name"] = result_df["name_acc"].values
df_address.head()

,url,zip,city,name,town,email,faxno,orgid,state,telex,...,phoneno2localcode,residentialstatus,pagernocountrycode,holdmailinitiatedby,phoneno1countrycode,phoneno2countrycode,address_proof_doc_id,is_address_proof_rcvd,_airbyte_additional_properties,updated_at
0,NaN,.,BUTWA,TAMOR ELECTRONICS PVT. LTD.,NaN,NaN,NaN,NaN,RUPAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,2024-08-07 06:32:36.973
1,NaN,.,BUTWA,TAMOR ELECTRONICS PVT. LTD.,NaN,NaN,NaN,NaN,RUPAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,2024-08-07 06:32:36.973
2,NaN,NaN,BUTWA,TAMOR ELECTRONICS PVT. LTD.,NaN,NaN,NaN,NaN,RUPAN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:32:36.973
3,NaN,97700,NaN,Nawal Bibek Thakuri,NaN,NaN,NaN,NaN,NUWAK,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:32:36.973
4,NaN,97700,NaN,Nawal Bibek Thakuri,NaN,NaN,NaN,NaN,NUWAK,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:32:36.973

In [11]:
df_address.to_csv('address_masked.csv', index=False)