In [1]:
import pandas as pd
df_int_version_slab= pd.read_excel("int_version_slab_table.xlsx")
df_int_version_slab.head()

,ts_cnt,bank_id,del_flg,lchg_time,rcre_time,crncy_code,end_slab_amt,int_tbl_code,lchg_user_id,qis_int_pcnt,...,penal_int_pcnt,int_tbl_ver_num,qis_portion_ind,int_slab_srl_num,nrml_portion_ind,chore_portion_ind,clean_portion_ind,penal_portion_ind,int_slab_dr_cr_flg,updated_at
0,1,1,N,2024-08-17T11:21:51,2024-08-17T11:17:02,NPR,1.000000e+14,SBKBK,SB3610,0,...,0,60,,1,F,,,,C,2024-08-29 04:59:55.623
1,1,1,N,2024-08-17T11:22:35,2024-08-17T11:17:02,NPR,1.000000e+14,SD006,SB3610,0,...,0,50,,1,F,,,,C,2024-08-29 04:59:55.623
2,1,1,N,2024-08-17T11:23:12,2024-08-17T11:17:02,NPR,1.000000e+14,SBDBS,SB3610,0,...,0,57,,1,F,,,,C,2024-08-29 04:59:55.623
3,1,1,N,2024-08-17T11:25:10,2024-08-17T11:17:03,NPR,1.000000e+14,SD020,SB3610,0,...,0,48,,1,F,,,,C,2024-08-29 04:59:55.623
4,1,1,N,2024-08-17T11:26:08,2024-08-17T11:17:03,NPR,1.000000e+14,SD031,SB3610,0,...,0,44,,1,F,,,,C,2024-08-29 04:59:55.623

In [2]:
df_int_version_slab.to_csv("int_version_slab_table_masked.csv",index=False)