In [1]:
import pandas as pd
df_lmis=pd.read_excel("lmis.xlsx")
df_lmis['cif_id'].head()

0    R90504419
1    R09092002
2    800520784
3    RB1499113
4    R52273477
Name: cif_id, dtype: object

In [2]:
# df_c_loan_pen_int = df_c_loan_pen_int.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)

# df_c_loan_pen_int.head()

In [3]:
df_acc = pd.read_csv("../../crmuser/account/cif_masked.csv")
df_acc.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,preferredphone,preferredname,preferredemail,email,gender,name,pan
0,DLNIND4568821,R01562055,Duman,Narayan,Neupane,+977-9833330190,Duman Narayan Neupane,ARYALPRABAL@GMAIL.COM,duman492@gmail.com,M,Duman Narayan Neupane,PAN714271279
1,DLNIND7235296,R01911512,Prajina,Devi,Maharjan,+977-9892307589,Prajina Devi Maharjan,na@nicasiabank.com,prajina427@gmail.com,F,Prajina Devi Maharjan,PAN503838478
2,DLNIND1406504,R02944296,Humacanta,Bipin,Thapa,+977-9856818453,Humacanta Bipin Thapa,dipeshshah4000@gmail.com,humacanta862@gmail.com,M,Humacanta Bipin Thapa,PAN668645879
3,DLNLEG6218579,C00038863,KHOTANG FOODS PVT. LTD.,NaN,NaN,+977-9862721402,MANASLU HOSPITALITY PVT. LTD.,NaN,khotangfoods840@outlook.com,NaN,KHOTANG FOODS PVT. LTD.,PAN533918346
4,DLNIND1255130,R01651971,Adarsh,Bhakta,Lama,+977-9810013657,Adarsh Bhakta Lama,BINODRAYEE@GMAIL.COM,adarsh904@gmail.com,M,Adarsh Bhakta Lama,PAN331700070

In [4]:
df_result = pd.merge(left=df_lmis,right=df_acc, left_on='cif_id',right_on='orgkey',suffixes=('_p', '_a'))

df_result['cif_id_a']

0     DLNLEG5828268
1     DLNLEG6576494
2     DLNLEG7265178
3     DLNLEG3194194
4     DLNLEG7366525
5     DLNLEG9864427
6     DLNLEG6450861
7     DLNLEG8098419
8     DLNLEG5924902
9     DLNLEG5063780
10    DLNIND9450331
11    DLNIND6665024
12    DLNLEG9678391
13    DLNLEG5738561
14    DLNLEG9334212
15    DLNLEG5063941
16    DLNLEG6465924
17    DLNLEG8980703
18    DLNLEG2266684
19    DLNLEG1075920
20    DLNLEG1598748
21    DLNIND8212211
22    DLNIND5676264
23    DLNLEG3286748
24    DLNLEG5604950
25    DLNIND9084977
26    DLNIND5013653
27    DLNIND8496642
28    DLNLEG3727146
29    DLNLEG1337370
30    DLNLEG9966100
31    DLNLEG6218579
32    DLNIND6814583
33    DLNLEG1189719
34    DLNIND3986994
35    DLNIND5461679
36    DLNIND9898224
37    DLNIND8221535
38    DLNLEG5142567
39    DLNIND5644007
40    DLNLEG5646672
41    DLNLEG5022872
42    DLNIND7426436
43    DLNLEG2158354
44    DLNLEG3169101
45    DLNLEG8767566
46    DLNIND2622447
47    DLNIND5576304
48    DLNLEG9101051
49    DLNIND3781309
50    DLNIND6943934
51    DLNIND3694466
Name: cif_id_a, dtype: object

In [5]:
df_lmis['cif_id']=df_result['cif_id_a']
df_lmis['cif_id'].head()

0    DLNLEG5828268
1    DLNLEG6576494
2    DLNLEG7265178
3    DLNLEG3194194
4    DLNLEG7366525
Name: cif_id, dtype: object

In [6]:
df_lmis.to_csv("lmis_masked.csv",index=False)