In [1]:
import pandas as pd
df_emi_tran_sub=pd.read_excel("emi_transaction_subset.xlsx")
df_emi_tran_sub.head()

,etr_id,etr_code,etr_text,etr_reason,etr_acc_code,etr_acc_numb,etr_ban_code,etr_car_code,etr_crt_code,etr_cur_code,...,etr_holiday_period,etr_next_post_date,etr_resch_etr_code,etr_insta_intr_amou,etr_resch_inst_numb,etr_resch_inte_rate,etr_resch_fee_amount,etr_resch_onshot_amount,etr_resch_holiday_period,updated_at
0,NaN,34541,Migrated EMI From Old Switch 25-03-2023,Processed,2368814,524700013597,1,2127285,NaN,150,...,NaN,2023-11-10T00:00:00.000000,NaN,0,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:05:04.715
1,NaN,34621,Migrated EMI From Old Switch 25-03-2023,Processed,2368829,524700013646,1,2138061,NaN,150,...,NaN,2023-05-23T00:00:00.000000,NaN,0,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:05:04.715
2,NaN,36661,Migrated EMI From Old Switch 25-03-2023,Processed,2368762,524700014564,1,2122504,NaN,150,...,NaN,2024-01-08T00:00:00.000000,NaN,0,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:05:04.715
3,NaN,36301,Migrated EMI From Old Switch 25-03-2023,Processed,2368815,524700014324,1,2129000,NaN,150,...,NaN,2023-10-27T00:00:00.000000,NaN,0,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:05:04.715
4,NaN,27341,Migrated EMI From Old Switch 25-03-2023,Processed,2355341,100700000005,1,2105953,NaN,150,...,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:05:04.715

In [2]:
df_emi_tran_sub.to_csv("emi_transaction_subset_masked.csv",index=False)