In [66]:
import pandas as pd
df_bankxp_cust=pd.read_excel("customer.xlsx")
df_bankxp_cust.head()

,id,mode,active,cbs_id,gender,address,approved,language,qr_login,ac_holder,...,delete_approved_by,edit_approved_date,last_modified_date,deleted_approved_date,has_security_question,last_modified_remarks,latest_changed_mobile,notification_language,latest_activity_remarks,updated_at
0,22,A,D,019898447,M,JUREPI GALLI-14 HN:239,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
1,23,A,D,R00745672,M,DANFE MARGA,D,NaN,N,Y,...,5.0,NaN,NaN,"Row(member0=Timestamp('2022-02-25 14:14:01'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
2,24,A,D,R00858406,M,IMADOL,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",N,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
3,25,A,D,R00108041,M,BATISPUTALI,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
4,26,A,D,R00842883,M,CHYASAL,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896

In [67]:
df_bankxp_cust.shape

(1280, 50)

In [68]:
df_cif_mask=pd.read_csv(r"..\..\crmuser\account\cif_masked.csv")
df_cif_mask.head()

,cif_id,orgkey,cust_first_name,cust_middle_name,cust_last_name,preferredphone,preferredname,preferredemail,email,gender,name,pan
0,DLNIND4568821,R01562055,Duman,Narayan,Neupane,-9833329213,Duman Narayan Neupane,ARYALPRABAL@GMAIL.COM,duman492@gmail.com,M,Duman Narayan Neupane,PAN714271279
1,DLNIND7235296,R01911512,Prajina,Devi,Maharjan,-9892306612,Prajina Devi Maharjan,na@nicasiabank.com,prajina427@gmail.com,F,Prajina Devi Maharjan,PAN503838478
2,DLNIND1406504,R02944296,Humacanta,Bipin,Thapa,-9856817476,Humacanta Bipin Thapa,dipeshshah4000@gmail.com,humacanta862@gmail.com,M,Humacanta Bipin Thapa,PAN668645879
3,DLNLEG6218579,C00038863,KHOTANG FOODS PVT. LTD.,NaN,NaN,-9862720425,MANASLU HOSPITALITY PVT. LTD.,NaN,khotangfoods840@outlook.com,NaN,KHOTANG FOODS PVT. LTD.,PAN533918346
4,DLNIND1255130,R01651971,Adarsh,Bhakta,Lama,-9810012680,Adarsh Bhakta Lama,BINODRAYEE@GMAIL.COM,adarsh904@gmail.com,M,Adarsh Bhakta Lama,PAN331700070

In [48]:
# df_acidfor_mask=pd.read_csv(r"..\..\tbaadm\general_acct_mast_table\acid_foracid_masked.csv")
# df_acidfor_mask.head()

In [69]:
result = pd.merge(left=df_bankxp_cust, right=df_cif_mask,how='left',left_on='cbs_id',right_on='orgkey',suffixes=('_p', '_a'))

result

,id,mode,active,cbs_id,gender_p,address,approved,language,qr_login,ac_holder,...,cust_first_name,cust_middle_name,cust_last_name,preferredphone,preferredname,preferredemail,email,gender_a,name,pan
0,22,A,D,019898447,M,JUREPI GALLI-14 HN:239,D,NaN,N,Y,...,Veshraj,NaN,Mainali,9.861675e+09,Veshraj Mainali,Veshraj.Mainali@dlytica.com,Veshraj.Mainali@dlytica.com,M,Veshraj Mainali,PAN140168943
1,23,A,D,R00745672,M,DANFE MARGA,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24,A,D,R00858406,M,IMADOL,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25,A,D,R00108041,M,BATISPUTALI,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26,A,D,R00842883,M,CHYASAL,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,1330,AUTO,Y,R02127905,M,SIDDHARTHA SADAK,Y,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1276,1331,AUTO,Y,R02127905,M,SIDDHARTHA SADAK,Y,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1277,1332,THIRD_PARTY,Y,R54351500,M,KATHMANDU,Y,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278,1344,THIRD_PARTY,Y,R02307016,M,BUDDHANAGAR,Y,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1279,1345,THIRD_PARTY,Y,R50258393,M,ARGHAKHANCHI,Y,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
print(result.shape)
print(df_bankxp_cust.shape)

(1280, 62)
(1280, 50)

In [21]:
# dresult = pd.merge(left=result, right=df_acidfor_mask,how='left',left_on='cbs_id',right_on='cif_id',suffixes=('_p', '_a'))

# dresult.head(5)

In [22]:
# print(dresult.shape)
# print(df_bankxp_cust.shape)

In [23]:
# df_result = pd.merge(result, df_acidfor_mask,on='cif_id',suffixes=('_p', '_a'))

# df_result['gender_a'].sample(20)

In [61]:
result.columns

Index(['id', 'mode', 'active', 'cbs_id', 'gender_p', 'address', 'approved',
       'language', 'qr_login', 'ac_holder', 'branch_id', 'last_name',
       'contact_no', 'created_by', 'deleted_by', 'first_name', 'profile_id',
       'approved_by', 'middle_name', 'reg_id_temp', 'rejected_by',
       'created_date', 'deleted_date', 'email_verify', 'migration_id',
       'approved_date', 'email_address', 'mobile_number', 'profile_image',
       'rejected_date', 'txn_auth_mode', 'delete_remarks', 'old_profile_id',
       'reject_remarks', 'bank_kyc_verify', 'old_customer_id',
       'primary_account', 'edit_approved_by', 'last_modified_by',
       'registration_type', 'delete_approved_by', 'edit_approved_date',
       'last_modified_date', 'deleted_approved_date', 'has_security_question',
       'last_modified_remarks', 'latest_changed_mobile',
       'notification_language', 'latest_activity_remarks', 'updated_at',
       'cif_id', 'orgkey', 'cust_first_name', 'cust_middle_name',
       'cust_last_name', 'preferredphone', 'preferredname', 'preferredemail',
       'email', 'gender_a', 'name', 'pan'],
      dtype='object')

In [25]:
# print(df_result.shape)
# print(df_bankxp_cust.shape)

In [71]:
df_bankxp_cust[['cbs_id','gender','last_name','first_name','middle_name','mobile_number','email_address']]=result[['cif_id','gender_a','cust_first_name',
                                                                             'cust_middle_name','cust_last_name','preferredphone','email']]

df_bankxp_cust

,id,mode,active,cbs_id,gender,address,approved,language,qr_login,ac_holder,...,delete_approved_by,edit_approved_date,last_modified_date,deleted_approved_date,has_security_question,last_modified_remarks,latest_changed_mobile,notification_language,latest_activity_remarks,updated_at
0,22,A,D,DLNIND9286944,M,JUREPI GALLI-14 HN:239,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
1,23,A,D,NaN,NaN,DANFE MARGA,D,NaN,N,Y,...,5.0,NaN,NaN,"Row(member0=Timestamp('2022-02-25 14:14:01'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
2,24,A,D,NaN,NaN,IMADOL,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",N,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
3,25,A,D,NaN,NaN,BATISPUTALI,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
4,26,A,D,NaN,NaN,CHYASAL,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,1330,AUTO,Y,NaN,NaN,SIDDHARTHA SADAK,Y,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,Auto Registered,2024-08-07 07:05:19.896
1276,1331,AUTO,Y,NaN,NaN,SIDDHARTHA SADAK,Y,NaN,NaN,Y,...,NaN,NaN,"Row(member0=Timestamp('2024-07-05 13:45:28'), ...","Row(member0=Timestamp('2024-07-05 13:45:28'), ...",N,NaN,NaN,NaN,Customer Deletion Approved,2024-08-07 07:05:19.896
1277,1332,THIRD_PARTY,Y,NaN,NaN,KATHMANDU,Y,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,Auto Registered,2024-08-07 07:05:19.896
1278,1344,THIRD_PARTY,Y,NaN,NaN,BUDDHANAGAR,Y,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,Auto Registered,2024-08-07 07:05:19.896
1279,1345,THIRD_PARTY,Y,NaN,NaN,ARGHAKHANCHI,Y,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,Auto Registered,2024-08-07 07:05:19.896

In [72]:
df_bankxp_cust = df_bankxp_cust[df_bankxp_cust['cbs_id'].notna()]

In [73]:
df_bankxp_cust

,id,mode,active,cbs_id,gender,address,approved,language,qr_login,ac_holder,...,delete_approved_by,edit_approved_date,last_modified_date,deleted_approved_date,has_security_question,last_modified_remarks,latest_changed_mobile,notification_language,latest_activity_remarks,updated_at
0,22,A,D,DLNIND9286944,M,JUREPI GALLI-14 HN:239,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
62,84,A,D,DLNIND1498614,M,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
63,85,A,D,DLNIND6021714,M,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,Y,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
64,86,A,D,DLNIND1842225,F,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
72,94,A,D,DLNIND9286944,M,JUREPI GALLI-14 HN:239,D,NaN,N,Y,...,9.0,"Row(member0=Timestamp('2022-03-17 22:47:42'), ...","Row(member0=Timestamp('2022-03-17 22:44:44'), ...","Row(member0=Timestamp('2022-03-20 00:57:51'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
74,96,A,D,DLNIND1550667,M,NaN,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-03-04 02:54:18'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
80,102,A,D,DLNIND6782843,F,NaN,D,NaN,N,Y,...,1.0,NaN,NaN,"Row(member0=Timestamp('2022-03-19 00:28:24'), ...",N,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
82,104,A,D,DLNIND3186116,M,NaN,D,NaN,N,Y,...,1.0,NaN,NaN,"Row(member0=Timestamp('2022-03-19 00:28:24'), ...",N,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
92,114,A,D,DLNIND1242207,F,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
93,115,A,D,DLNIND5601256,M,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,Y,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
94,116,A,D,DLNIND6192226,M,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
95,117,A,D,DLNIND7387806,F,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,Y,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
99,121,A,D,DLNIND2129887,F,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
100,122,A,D,DLNIND7235296,F,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
102,124,A,D,DLNIND9286944,M,JUREPI GALLI-14 HN:239,D,NaN,N,Y,...,1.0,NaN,NaN,"Row(member0=Timestamp('2022-03-20 05:10:15'), ...",N,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
104,126,A,D,DLNIND9286944,M,JUREPI GALLI-14 HN:239,D,NaN,N,Y,...,1.0,NaN,NaN,"Row(member0=Timestamp('2022-03-20 05:14:38'), ...",N,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
106,128,A,D,DLNIND9286944,M,JUREPI GALLI-14 HN:239,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
107,129,A,D,DLNIND9997823,M,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
110,132,A,D,DLNIND6852316,M,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
438,460,BULK,Y,DLNIND3694466,F,NaN,Y,NaN,N,Y,...,NaN,NaN,"Row(member0=Timestamp('2022-12-14 10:09:32'), ...",NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896