In [1]:
import pandas as pd
df_entity_interest= pd.read_excel("entity_interest_table.xlsx")
df_entity_interest.head()

,ts_cnt,bank_id,entity_id,lchg_time,rcre_time,crncy_code,diff_exists,entity_type,int_tbl_code,lchg_user_id,...,penalint_interest_amount_dr,penalprnc_accrued_amount_dr,penalprnc_interest_amount_dr,accr_amt_til_int_calc_date_cr,last_compint_booked_amount_dr,last_penprnc_booked_amount_dr,pos_accr_amt_till_int_calc_cr,last_compprnc_booked_amount_dr,last_penalint_booked_amount_dr,updated_at
0,190,1,R85272464,2020-06-03T00:26:19,2020-03-03T11:19:56,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764
1,190,1,R85274118,2020-06-03T00:26:19,2020-03-03T17:31:54,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764
2,190,1,285285319,2020-06-09T23:35:49,2020-03-10T14:51:43,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764
3,190,1,R85286857,2020-06-10T23:27:59,2020-03-11T13:36:02,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764
4,190,1,285305444,2020-06-17T21:23:18,2020-03-18T11:47:07,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764

In [8]:
df_gam=pd.read_csv("../general_acct_mast_table/acid_foracid_masked.csv")
df_gam.head()

,acid,acid_t,cif_id,foracid,foracid_t,pan,acct_num,acct_name
0,Q39620558,AC10370877,DLNIND1406504,2635752944296001,FA9627239668220084,PAN668645879,272396682200,Humacanta Bipin Thapa
1,Y110180600,AC41672289,DLNIND4211643,3414659520992004,FA3302344775994664,PAN697945863,23447759946,Sriti Kumari Thapa
2,O93531058,AC73584145,DLNIND4211643,O987952099252401,FA5553585851915269,PAN697945863,535858519152,Sriti Kumari Thapa
3,32559774,AC12345718,DLNLEG9334212,3241157797524004,FA2582732553674743,PAN353089449,827325536747,PALPA HEALTHCARE PVT. LTD.
4,889280082,AC47235600,DLNLEG6576494,0884459092002067,FA7171012596574289,PAN813377590,710125965742,NaN

In [9]:
df_result = pd.merge(left_on='entity_id', right_on='acid',left=df_entity_interest,right=df_gam,how='left',suffixes=('_p', '_a'))
df_result.head(5)

,ts_cnt,bank_id,entity_id,lchg_time,rcre_time,crncy_code,diff_exists,entity_type,int_tbl_code,lchg_user_id,...,last_penalint_booked_amount_dr,updated_at,acid,acid_t,cif_id,foracid,foracid_t,pan,acct_num,acct_name
0,190,1,R85272464,2020-06-03T00:26:19,2020-03-03T11:19:56,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,2024-08-07 06:42:30.764,R85272464,AC85536502,DLNIND8738953,278TD56283925004,FA1728137138657870,PAN401676066,281371386578,Sahil Bahadur Yadav
1,190,1,R85274118,2020-06-03T00:26:19,2020-03-03T17:31:54,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,2024-08-07 06:42:30.764,R85274118,AC47369833,DLNIND8738953,278TD56283925005,FA9695575235413780,PAN401676066,955752354137,Sahil Bahadur Yadav
2,190,1,285285319,2020-06-09T23:35:49,2020-03-10T14:51:43,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,2024-08-07 06:42:30.764,285285319,AC14596138,DLNIND1372327,028TD58893337018,FA1517178381371265,PAN729503320,171783813712,Pramil Narayan Adhikari
3,190,1,R85286857,2020-06-10T23:27:59,2020-03-11T13:36:02,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,2024-08-07 06:42:30.764,R85286857,AC18942962,DLNIND3092463,278TD50185654007,FA7197817009189404,PAN217875834,978170091894,Sonali Maya Dahal
4,190,1,285305444,2020-06-17T21:23:18,2020-03-18T11:47:07,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,2024-08-07 06:42:30.764,285305444,AC15753672,DLNIND1372327,028TD58893337019,FA1400142578484420,PAN729503320,1425784844,Pramil Narayan Adhikari

In [10]:
print(df_entity_interest.shape)
print(df_result.shape)

(4418, 169)
(4418, 177)

In [11]:
df_entity_interest['entity_id']=df_result['acid_t'].values
df_entity_interest.head()

,ts_cnt,bank_id,entity_id,lchg_time,rcre_time,crncy_code,diff_exists,entity_type,int_tbl_code,lchg_user_id,...,penalint_interest_amount_dr,penalprnc_accrued_amount_dr,penalprnc_interest_amount_dr,accr_amt_til_int_calc_date_cr,last_compint_booked_amount_dr,last_penprnc_booked_amount_dr,pos_accr_amt_till_int_calc_cr,last_compprnc_booked_amount_dr,last_penalint_booked_amount_dr,updated_at
0,190,1,AC85536502,2020-06-03T00:26:19,2020-03-03T11:19:56,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764
1,190,1,AC47369833,2020-06-03T00:26:19,2020-03-03T17:31:54,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764
2,190,1,AC14596138,2020-06-09T23:35:49,2020-03-10T14:51:43,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764
3,190,1,AC18942962,2020-06-10T23:27:59,2020-03-11T13:36:02,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764
4,190,1,AC15753672,2020-06-17T21:23:18,2020-03-18T11:47:07,NPR,NaN,ACCNT,NaN,FINADMIN,...,0,0,0,0.0,0,0,NaN,0,0,2024-08-07 06:42:30.764

In [12]:
df_entity_interest.to_csv("entity_interest_table_masked.csv",index=False)