In [1]:
import pandas as pd
df_currency=pd.read_excel("currency.xlsx")
df_currency.head()

,cur_ide,cur_code,cur_labe,cur_symb,cur_alph_code,cur_defa_numb_deci,updated_at
0,704,1,Viet Nam Dong,NaN,VND,NaN,2024-08-07 07:04:29.105
1,705,2,Slovenia Tolar,NaN,SIT,NaN,2024-08-07 07:04:29.105
2,706,3,Somali Shilling,NaN,SOS,NaN,2024-08-07 07:04:29.105
3,710,4,South Africa RandS,NaN,ZAR,NaN,2024-08-07 07:04:29.105
4,716,5,Zimbabwe Dollar,NaN,ZWD,NaN,2024-08-07 07:04:29.105

In [2]:
df_currency.to_csv("currency_masked.csv",index=False)