In [1]:
import pandas as pd
df_int_code_version= pd.read_excel("int_code_version_table.xlsx")
df_int_code_version.head()

,ts_cnt,bank_id,del_flg,base_ind,end_date,base_pcnt,lchg_time,module_id,rcre_time,crncy_code,...,lchg_user_id,rcre_user_id,int_rate_text,entity_cre_flg,int_tbl_ver_num,int_tbl_ver_desc,int_ver_rmks_txt,base_int_tbl_code,int_ver_effective_date,updated_at
0,1,1,N,N,2099-12-31T00:00:00.000000,0,2007-09-12T12:23:40,I,2007-09-12T12:22:29,NPR,...,BPD2,BPD1,NaN,Y,246,NaN,NaN,NaN,1900-01-01T00:00:00.000000,2024-08-07 06:49:29.704
1,1,1,N,N,2099-12-31T00:00:00.000000,0,2007-09-13T11:30:21,I,2007-09-13T11:29:53,NPR,...,BPD2,BPD1,NaN,Y,257,NaN,NaN,NaN,1900-01-01T00:00:00.000000,2024-08-07 06:49:29.704
2,1,1,N,N,2099-12-31T00:00:00.000000,0,2007-09-14T16:19:20,T,2007-09-14T13:45:03,NPR,...,BPD2,BPD1,NaN,Y,258,NaN,NaN,NaN,1900-01-01T00:00:00.000000,2024-08-07 06:49:29.704
3,1,1,N,N,2099-01-01T00:00:00.000000,0,2007-09-14T17:00:24,I,2007-09-14T16:59:30,NPR,...,BPD3,FINADM,NaN,Y,260,NaN,NaN,NaN,1900-01-01T00:00:00.000000,2024-08-07 06:49:29.704
4,1,1,N,N,2099-01-01T00:00:00.000000,0,2007-09-14T17:21:40,I,2007-09-14T17:21:17,NPR,...,BPD3,FINADM,NaN,Y,269,NaN,NaN,NaN,1900-01-01T00:00:00.000000,2024-08-07 06:49:29.704

In [2]:
df_int_code_version.to_csv("int_code_version_table_masked.csv",index=False)