In [3]:
import pandas as pd

df_tran_type=pd.read_excel("transaction_type.xlsx") 
df_tran_type.head()

,tty_type_code,tty_type_iden,tty_type_labe,updated_at
0,1,0,Goods/Service Purchase,2024-08-07 07:05:17.676
1,2,1,Withdrawal,2024-08-07 07:05:17.676
2,3,2,Debit Adjustment,2024-08-07 07:05:17.676
3,4,3,Check Guarantee,2024-08-07 07:05:17.676
4,5,4,Check Verification,2024-08-07 07:05:17.676

In [5]:
df_tran_type.to_csv("transaction_type_masked.csv",index=False)