In [2]:
import pandas as pd
df_companies_types=pd.read_excel("companies_types.xlsx")
df_companies_types.head()

   cty_code  cty_iden                      cty_labe              updated_at
0         1         1           Public Shareholding 2024-08-07 07:04:27.672
1         2         2  Private Shareholding Company 2024-08-07 07:04:27.672
2         3         3               Limited Company 2024-08-07 07:04:27.672
3         4         4              Personal Company 2024-08-07 07:04:27.672
4         5         5     Governmental Institutions 2024-08-07 07:04:27.672

In [4]:
df_companies_types.to_csv("companies_type_masked.csv",index=False)