In [2]:
import pandas as pd
dc_events_table= pd.read_excel("dc_events_table.xlsx")
# dc_events_table = dc_events_table.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)

dc_events_table.head()

,ts_cnt,usance,bank_id,dc_rate,remarks,dc_b2kid,event_id,event_amt,lchg_time,rcre_time,...,revolve_freq_week_day,revolve_freq_week_num,actl_transferrable_flg,revolve_freq_hldy_stat,transfer_shipment_date,actl_shipment_mode_code,auto_renewal_next_cycle,ch_base_to_op_rate_code,ch_sy_to_op_base_rate_code,updated_at
0,3,0,1,79.2,DC Opening,DC09468,1.0,8910.0,2009-01-25T18:41:46,2009-01-25T18:39:39,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:09.281
1,3,0,1,79.2,DC Opening,DC09469,1.0,15970.0,2009-01-25T18:46:40,2009-01-25T18:45:14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:09.281
2,0,0,1,79.2,FOREIGN BILL LODGE,DC09468,2.0,8910.0,2009-03-25T18:11:59,2009-03-25T18:11:59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:09.281
3,0,0,1,79.2,FOREIGN BILL LODGE,DC09469,2.0,15970.0,2009-03-25T18:15:36,2009-03-25T18:15:36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:09.281
4,0,0,1,79.2,FOREIGN BILL REALISE,DC09468,3.0,8910.0,2009-03-25T18:51:26,2009-03-25T18:51:26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:42:09.281

In [4]:
dc_events_table.to_csv("dc_events_table_masked.csv",index=False)