In [1]:
import pandas as pd
df_emi_tran=pd.read_excel("emi_transaction.xlsx")
df_emi_tran.head()

,etr_id,etr_code,etr_text,etr_reason,etr_acc_code,etr_acc_numb,etr_ban_code,etr_car_code,etr_crt_code,etr_cur_code,...,etr_holiday_period,etr_next_post_date,etr_resch_etr_code,etr_insta_intr_amou,etr_resch_inst_numb,etr_resch_inte_rate,etr_resch_fee_amount,etr_resch_onshot_amount,etr_resch_holiday_period,updated_at
0,NaN,60941,NaN,Not Matched,2375158.0,524700013637,1,2131689.0,NaN,150.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:05:04.715
1,NaN,74201,NaN,Not Matched,2384928.0,524700013699,1,2125095.0,NaN,150.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:05:04.715
2,NaN,115761,NaN,Not Matched,2418623.0,7524000000387,1,2169243.0,NaN,150.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:05:04.715
3,NaN,124981,NaN,Not Matched,2406382.0,7524000000209,1,2157222.0,NaN,150.0,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:05:04.715
4,NaN,32141,Migrated EMI From Old Switch 25-03-2023,Processed,2379921.0,524700011494,1,2124962.0,NaN,150.0,...,NaN,2023-05-04T00:00:00.000000,NaN,0.0,NaN,NaN,NaN,NaN,NaN,2024-08-07 07:05:04.715

In [2]:
df_emi_tran.to_csv("emi_transaction_masked.csv",index=False)