In [1]:
import pandas as pd
bg_event_table= pd.read_excel("bg_event_table.xlsx")
bg_event_table = bg_event_table.drop(['_airbyte_ab_id', '_airbyte_emitted_at',"source_file_path","_airbyte_additional_properties"], axis=1)

bg_event_table.head()

,rmks,bg_amt,ts_cnt,bank_id,disb_id,bg_b2kid,event_id,amend_ind,bg_status,event_amt,...,auto_renew_next_cycle,instlmnt_freq_start_dd,instlmnt_freq_week_day,instlmnt_freq_week_num,auto_renew_freq_week_dd,auto_renew_freq_cal_base,auto_renew_freq_week_day,auto_renew_freq_week_num,auto_renew_applicable_flg,updated_at
0,NaN,5000000.0,0,1,NaN,DC0896,BGCHARGES,NaN,A,5000000.0,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,N,2024-08-07 06:41:56.805
1,NaN,5000000.0,0,1,NaN,DC0896,BGCHARGES,NaN,A,0.0,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,N,2024-08-07 06:41:56.805
2,NaN,5000000.0,0,1,NaN,DC0896,BGCHARGES,NaN,A,0.0,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,N,2024-08-07 06:41:56.805
3,NaN,5000000.0,0,1,NaN,DC0896,BGCHARGES,NaN,A,0.0,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,N,2024-08-07 06:41:56.805
4,NaN,200000.0,0,1,NaN,DC09168,BGCHARGESBB,NaN,E,200000.0,...,NaN,0,0,NaN,NaN,NaN,NaN,NaN,N,2024-08-07 06:41:56.805