In [20]:
import pandas as pd
import random
df_card_program=pd.read_excel("card_program.xlsx")
df_card_program.head()

,cpr_code,cpr_iden,cpr_labe,cpr_trac1,cpr_trac2,cpr_trac3,cpr_ban_code,cpr_cde_code,cpr_ced_code,cpr_cef_code,...,cpr_trac1_form_code,cpr_trac2_form_code,cpr_trac3_form_code,cpr_ecom_activ_option,cpr_magn_stri_appl_prog,cpr_spec_skin_webportal,cpr_under_internet_bank,cpr_free_allow_ecom_activ,cpr_spec_skin_color_webportal,updated_at
0,25281,100719,NICA CL CLIENT DOM DEBIT CARD,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,Y,NaN,SCT,2024-08-07 07:04:04.190
1,35721,006NICCCL,to remove,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
2,36221,0007,to remove,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
3,36241,0005,to remove,Y,Y,Y,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
4,36501,008,to remove,Y,Y,NaN,1,3621.0,5621.0,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190

In [21]:
companies = ['Dlytica','Fusefire']

def replace_with(val):
    if pd.isna(val):
        return val
    words = val.split()
    last_two = ' '.join(words[-2:]) if len(words) >= 2 else val
    company = random.choice(companies)
    return f'{company} {last_two}'

df_card_program['cpr_labe'] = df_card_program['cpr_labe'].apply(replace_with)


df_card_program[['cpr_labe']].sample(10)

                   cpr_labe
1        Fusefire to remove
4        Fusefire to remove
19     Dlytica FREEDOM CARD
6       Fusefire Debit Card
24  Dlytica CONTACTLESS UPI
22      Fusefire Debit Card
5         Dlytica to remove
10      Fusefire Debit Card
25    Fusefire FREEDOM CARD
14      Dlytica Credit Card

In [22]:
df_card_program.sample(15)

,cpr_code,cpr_iden,cpr_labe,cpr_trac1,cpr_trac2,cpr_trac3,cpr_ban_code,cpr_cde_code,cpr_ced_code,cpr_cef_code,...,cpr_trac1_form_code,cpr_trac2_form_code,cpr_trac3_form_code,cpr_ecom_activ_option,cpr_magn_stri_appl_prog,cpr_spec_skin_webportal,cpr_under_internet_bank,cpr_free_allow_ecom_activ,cpr_spec_skin_color_webportal,updated_at
21,38081,100723,Dlytica Prepaid Card,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
4,36501,008,Fusefire to remove,Y,Y,NaN,1,3621.0,5621.0,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
20,38061,100713,Dlytica Prepaid Card,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
5,36901,0008,Dlytica to remove,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
3,36241,0005,Dlytica to remove,Y,Y,Y,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
12,37901,100705,Dlytica Credit Card,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
2,36221,0007,Dlytica to remove,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
19,38041,100724,Dlytica FREEDOM CARD,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
17,38001,100709,Fusefire Credit Card,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
27,40101,100728,Dlytica MASTERCARD DEBIT,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,24,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
22,38101,100725,Fusefire Debit Card,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
9,37381,100711,Fusefire Debit Card,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
10,37401,100712,Fusefire Debit Card,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
24,38901,100726,Dlytica CONTACTLESS UPI,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,402,N,NaN,NaN,SCT,2024-08-07 07:04:04.190
18,38021,100718,Fusefire Freedom Card,Y,Y,NaN,1,NaN,NaN,NaN,...,2,3,NaN,NaN,3,N,NaN,NaN,SCT,2024-08-07 07:04:04.190

In [23]:
df_card_program.to_csv("card_program_masked.csv")