In [1]:
import pandas as pd
df_country=pd.read_excel("country.xlsx")
df_country.head()

,cou_code,cou_iden,cou_name,cou_nati,updated_at
0,242,807,"Republic of Macedonia,the Former Yugoslav","Republic of Macedonia,the Former Yugoslav",2024-08-07 07:04:28.395
1,243,450,Madagascar,Madagascar,2024-08-07 07:04:28.395
2,244,454,Malawi,Malawi,2024-08-07 07:04:28.395
3,245,458,Malaysia,Malaysia,2024-08-07 07:04:28.395
4,246,462,Maldives,Maldives,2024-08-07 07:04:28.395

In [2]:
df_country.to_csv("country_masked.csv",index=False)