In [134]:
import pandas as pd
df_bankxp_cust_login=pd.read_excel("customer_login.xlsx")
df_bankxp_cust_login.head()

,id,active,added_by,password,username,added_date,is_primary,customer_id,reg_id_temp,migration_id,...,last_modified_date,is_initial_password,old_customer_login_id,application_pattern_id,is_initial_txn_password,latest_changed_username,last_txn_password_changed,last_login_password_changed,last_forgot_password_changed,updated_at
0,134,Y,1,$2a$10$RK3We6QN.noAhbcysAUVbOXlbhTxgwOVAB43csY...,9813430500,"Row(member0=Timestamp('2022-03-20 06:07:12'), ...",Y,40,NaN,NaN,...,NaN,N,NaN,1,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
1,135,Y,1,$2a$10$RK3We6QN.noAhbcysAUVbOXlbhTxgwOVAB43csY...,9849094430,"Row(member0=Timestamp('2022-03-20 06:15:00'), ...",Y,135,NaN,NaN,...,NaN,N,NaN,2,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
2,136,Y,1,$2a$10$RK3We6QN.noAhbcysAUVbOXlbhTxgwOVAB43csY...,9860687639,"Row(member0=Timestamp('2022-03-20 22:32:36'), ...",Y,136,NaN,NaN,...,NaN,N,NaN,2,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
3,137,Y,1,$2a$10$RK3We6QN.noAhbcysAUVbOXlbhTxgwOVAB43csY...,9849666191,"Row(member0=Timestamp('2022-03-20 22:48:10'), ...",Y,137,NaN,NaN,...,NaN,N,NaN,1,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
4,138,Y,1,$2a$10$RK3We6QN.noAhbcysAUVbOXlbhTxgwOVAB43csY...,9849666191,"Row(member0=Timestamp('2022-03-20 22:48:10'), ...",Y,138,NaN,NaN,...,NaN,N,NaN,1,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743

In [135]:
import hashlib
import base64

def custom_hash_with_prefix(password):
    # Ensure password is a string
    if not isinstance(password, str):
        password = str(password)
    # Extract first 4 chars (or fewer if password shorter)
    prefix = password[:4]
    
    # Generate SHA1 digest
    sha1_digest = hashlib.sha1(password.encode('utf-8')).digest()
    
    # Encode digest to Base64 string
    hash_b64 = base64.b64encode(sha1_digest).decode('utf-8')
    
    # Join prefix + hash
    return prefix + hash_b64

df_bankxp_cust_login["password"] = df_bankxp_cust_login["password"].apply(custom_hash_with_prefix)
df_bankxp_cust_login["txn_password"] = df_bankxp_cust_login["txn_password"].apply(custom_hash_with_prefix)

In [107]:
df_bankxp_cust_login.head()

,id,active,added_by,password,username,added_date,is_primary,customer_id,reg_id_temp,migration_id,...,last_modified_date,is_initial_password,old_customer_login_id,application_pattern_id,is_initial_txn_password,latest_changed_username,last_txn_password_changed,last_login_password_changed,last_forgot_password_changed,updated_at
0,134,Y,1,$2a$QopP7KQbfbmbCrgCx/0EwVee4d8=,9813430500,"Row(member0=Timestamp('2022-03-20 06:07:12'), ...",Y,40,NaN,NaN,...,NaN,N,NaN,1,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
1,135,Y,1,$2a$QopP7KQbfbmbCrgCx/0EwVee4d8=,9849094430,"Row(member0=Timestamp('2022-03-20 06:15:00'), ...",Y,135,NaN,NaN,...,NaN,N,NaN,2,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
2,136,Y,1,$2a$QopP7KQbfbmbCrgCx/0EwVee4d8=,9860687639,"Row(member0=Timestamp('2022-03-20 22:32:36'), ...",Y,136,NaN,NaN,...,NaN,N,NaN,2,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
3,137,Y,1,$2a$QopP7KQbfbmbCrgCx/0EwVee4d8=,9849666191,"Row(member0=Timestamp('2022-03-20 22:48:10'), ...",Y,137,NaN,NaN,...,NaN,N,NaN,1,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
4,138,Y,1,$2a$QopP7KQbfbmbCrgCx/0EwVee4d8=,9849666191,"Row(member0=Timestamp('2022-03-20 22:48:10'), ...",Y,138,NaN,NaN,...,NaN,N,NaN,1,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743

In [136]:
df_bankxp_cust_mask=pd.read_csv(r"..\..\mobile_banking\customer\customer_masked.csv")
df_bankxp_cust_mask

,id,mode,active,cbs_id,gender,address,approved,language,qr_login,ac_holder,...,delete_approved_by,edit_approved_date,last_modified_date,deleted_approved_date,has_security_question,last_modified_remarks,latest_changed_mobile,notification_language,latest_activity_remarks,updated_at
0,22,A,D,DLNIND9286944,M,JUREPI GALLI-14 HN:239,D,NaN,N,Y,...,4.0,NaN,NaN,"Row(member0=Timestamp('2022-02-28 10:32:02'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
1,84,A,D,DLNIND1498614,M,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
2,85,A,D,DLNIND6021714,M,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,Y,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
3,86,A,D,DLNIND1842225,F,NaN,D,NaN,N,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,en,NaN,2024-08-07 07:05:19.896
4,94,A,D,DLNIND9286944,M,JUREPI GALLI-14 HN:239,D,NaN,N,Y,...,9.0,"Row(member0=Timestamp('2022-03-17 22:47:42'), ...","Row(member0=Timestamp('2022-03-17 22:44:44'), ...","Row(member0=Timestamp('2022-03-20 00:57:51'), ...",Y,NaN,NaN,en,Customer Deletion Approved,2024-08-07 07:05:19.896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,1330,AUTO,Y,DLNIND2830344,F,SIDDHARTHA SADAK,Y,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,Auto Registered,2024-08-07 07:05:19.896
1182,1331,AUTO,Y,DLNIND8496642,M,SIDDHARTHA SADAK,Y,NaN,NaN,Y,...,NaN,NaN,"Row(member0=Timestamp('2024-07-05 13:45:28'), ...","Row(member0=Timestamp('2024-07-05 13:45:28'), ...",N,NaN,NaN,NaN,Customer Deletion Approved,2024-08-07 07:05:19.896
1183,1332,THIRD_PARTY,Y,DLNIND3744151,M,KATHMANDU,Y,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,Auto Registered,2024-08-07 07:05:19.896
1184,1344,THIRD_PARTY,Y,DLNIND7445925,M,BUDDHANAGAR,Y,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,Auto Registered,2024-08-07 07:05:19.896
1185,1345,THIRD_PARTY,Y,DLNIND3986994,F,ARGHAKHANCHI,Y,NaN,NaN,Y,...,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,Auto Registered,2024-08-07 07:05:19.896

In [137]:
result = pd.merge(left=df_bankxp_cust_login, right=df_bankxp_cust_mask,how='left',left_on='customer_id',right_on='id',suffixes=('_p', '_a'))

print(result.shape)
print(df_bankxp_cust_login.shape)

(1167, 78)
(1167, 28)

In [138]:
df_bankxp_cust_login['username']=result['mobile_number'].values
df_bankxp_cust_login

,id,active,added_by,password,username,added_date,is_primary,customer_id,reg_id_temp,migration_id,...,last_modified_date,is_initial_password,old_customer_login_id,application_pattern_id,is_initial_txn_password,latest_changed_username,last_txn_password_changed,last_login_password_changed,last_forgot_password_changed,updated_at
0,134,Y,1,$2a$QopP7KQbfbmbCrgCx/0EwVee4d8=,NaN,"Row(member0=Timestamp('2022-03-20 06:07:12'), ...",Y,40,NaN,NaN,...,NaN,N,NaN,1,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
1,135,Y,1,$2a$QopP7KQbfbmbCrgCx/0EwVee4d8=,+977-9899661272,"Row(member0=Timestamp('2022-03-20 06:15:00'), ...",Y,135,NaN,NaN,...,NaN,N,NaN,2,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
2,136,Y,1,$2a$QopP7KQbfbmbCrgCx/0EwVee4d8=,+977-9867093328,"Row(member0=Timestamp('2022-03-20 22:32:36'), ...",Y,136,NaN,NaN,...,NaN,N,NaN,2,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
3,137,Y,1,$2a$QopP7KQbfbmbCrgCx/0EwVee4d8=,+977-9892578535,"Row(member0=Timestamp('2022-03-20 22:48:10'), ...",Y,137,NaN,NaN,...,NaN,N,NaN,1,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
4,138,Y,1,$2a$QopP7KQbfbmbCrgCx/0EwVee4d8=,+977-9824076091,"Row(member0=Timestamp('2022-03-20 22:48:10'), ...",Y,138,NaN,NaN,...,NaN,N,NaN,1,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1162,1329,N,1,nanEeYjo36Hz3mVxGZyPsmWiNVcrow=,+977-9857075578,"Row(member0=Timestamp('2024-01-11 14:28:02'), ...",Y,1330,NaN,NaN,...,NaN,N,NaN,1,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
1163,1330,Y,1,nanEeYjo36Hz3mVxGZyPsmWiNVcrow=,+977-9814922602,"Row(member0=Timestamp('2024-01-11 14:32:39'), ...",Y,1331,NaN,NaN,...,"Row(member0=Timestamp('2024-06-26 15:36:32'), ...",Y,NaN,1,Y,NaN,"Row(member0=Timestamp('2024-07-05 13:33:33'), ...","Row(member0=Timestamp('2024-07-05 13:33:33'), ...",NaN,2024-08-07 07:05:20.743
1164,1331,Y,1,nanEeYjo36Hz3mVxGZyPsmWiNVcrow=,+977-9877816080,"Row(member0=Timestamp('2024-02-01 13:03:00'), ...",Y,1332,NaN,NaN,...,NaN,N,NaN,1,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
1165,1343,Y,1,nanEeYjo36Hz3mVxGZyPsmWiNVcrow=,+977-9837496462,"Row(member0=Timestamp('2024-02-06 15:06:09'), ...",Y,1344,NaN,NaN,...,NaN,N,NaN,2,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743
1166,1344,Y,1,nanEeYjo36Hz3mVxGZyPsmWiNVcrow=,+977-9830222491,"Row(member0=Timestamp('2024-03-18 15:03:31'), ...",Y,1345,NaN,NaN,...,NaN,N,NaN,1,N,NaN,"Row(member0=Timestamp('2024-05-02 16:07:35'), ...","Row(member0=Timestamp('2024-05-02 16:07:35'), ...",NaN,2024-08-07 07:05:20.743

In [139]:
df_bankxp_cust_login.to_csv("customer_login_masked.csv",index=False)