In [1]:
import pandas as pd
df_general_margin_hist= pd.read_excel("general_margin_history.xlsx")
df_general_margin_hist.head()

,b2kid,ts_cnt,bank_id,remarks,srl_num,event_amt,lchg_time,oper_acid,rcre_time,b2kid_type,...,entity_cre_flg,margin_srl_num,margin_tran_id,link_b2kid_type,margin_rate_code,treasury_ref_num,adjust_margin_flg,link_margin_srl_num,adjust_margin_event_flg,updated_at
0,DC09468,1,1,LC MARGIN,1,706000,2009-01-25T18:41:46,424553,2009-01-25T18:39:39,DOCCR,...,Y,1,M1149,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:48:28.855
1,DC09469,1,1,LC MARGIN,1,1265000,2009-01-25T18:46:40,424553,2009-01-25T18:45:14,DOCCR,...,Y,1,M1151,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:48:28.855
2,DC09468,1,1,LC MARGIN RELEASED,2,706000,2009-02-17T18:22:43,424553,2009-02-17T17:03:27,DOCCR,...,Y,1,M1299,NaN,NaN,NaN,NaN,1.0,NaN,2024-08-07 06:48:28.855
3,DC09469,1,1,LC MARGIN RELEASED,2,1265000,2009-02-17T19:19:29,424553,2009-02-17T17:02:45,DOCCR,...,Y,1,M1311,NaN,NaN,NaN,NaN,1.0,NaN,2024-08-07 06:48:28.855
4,DC101348,1,1,LC MARGIN,1,121000,2010-06-23T12:23:27,424553,2010-06-23T12:17:09,DOCCR,...,Y,1,M1119,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-07 06:48:28.855

In [2]:
df_general_margin_hist.to_csv("general_margin_history_masked.csv",index=False)