In [2]:
import pandas as pd
df_crncy_schm_parm= pd.read_excel("crncy_schm_parm_tbl.xlsx")
df_crncy_schm_parm.head()

,TS_CNT,BANK_ID,DEL_FLG,WTAX_FLG,LCHG_TIME,RCRE_TIME,SCHM_CODE,TDS_BACID,WTAX_PCNT,CLG_CR_LIM,...,DR_TRAN_NOT_ALWD_EXCP_CODE,NOTC_CANCELLATION_EVENT_ID,NOTC_INST_FAILURE_EVENT_ID,NOTC_PERD_NOT_MET_EVENT_ID,WTAX_FLOOR_LIMIT_SCOPE_FLG,DIFF_INT_TBL_CODE_FOR_PENAL,INT_DAY_LIMIT_REGUL_EVENT_ID,INSTL_AMT_BSD_ON_PCNT_RND_AMT,INSTL_AMT_BSD_ON_PCNT_RND_STAT,updated_at
0,0,1,N,NaN,2007-09-21T12:52:40,2007-09-21T12:52:40,OAPDR,NaN,0,1.000000e+14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2024-08-07 06:42:08.364
1,0,1,N,NaN,2007-09-21T12:52:40,2007-09-21T12:52:40,OAPDR,NaN,0,1.000000e+14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2024-08-07 06:42:08.364
2,0,1,N,NaN,2007-09-21T12:52:40,2007-09-21T12:52:40,OAPDR,NaN,0,1.000000e+14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2024-08-07 06:42:08.364
3,0,1,N,NaN,2007-09-21T12:52:40,2007-09-21T12:52:40,OAPDR,NaN,0,1.000000e+14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2024-08-07 06:42:08.364
4,0,1,N,NaN,2007-09-21T12:52:40,2007-09-21T12:52:40,OAPDR,NaN,0,1.000000e+14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,2024-08-07 06:42:08.364

In [3]:
df_crncy_schm_parm.to_csv("crncy_schm_parm_tbl_masked.csv",index=False)